.mega {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.hmm {
  color: #fff;
  text-align: justify;
  font-family: "Montserrat";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 50px;
}

.image {
  width: 705px;
  height: 355px;
  margin: 50px;
  filter: drop-shadow(0px 4px 120.1px rgba(246, 19, 98, 0.4));
  margin-top: 50px;
}

.flex2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.card {
  min-height: 300px;
  min-width: 300px;
  margin-top: 50px;
  border-radius: 10%;
  box-shadow: 2px 2px 25px rgba(255, 255, 255, 0.1);
}

.team {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  margin-top: 75px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
}

.name {
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 20px;
  font-family: "Montserrat";
}

.role {
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: "Montserrat";
}

.heading {
  margin: 40px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
}
