.image {
  margin-top: 50px;
  float: right;
  align-content: center;
  margin-left: 80px;
}

@media (max-width: 1000px) {
  .image {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  .flex1 {
    padding-top: 300px;
    flex-wrap: wrap;
  }
  .goals {
    text-align: center;
  }
  .line {
    transform: rotate(90deg);
    margin: 0;
  }
  .goalsdiv {
    width: auto;
    flex-wrap: wrap;
  }
  .flex2 {
    flex-wrap: wrap;
  }
  .heading {
    text-align: center;
  }
}

.banner {
  width: 90%;
  margin-top: 10px;
  height: 300px;
  border-radius: 10px;
}

.para {
  font-size: 19px;
  font-weight: 300;
  margin-left: 20px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.9);
  text-align: justify;
}

.heading {
  font-family: "Delius Swash Caps";
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-left: 20px;
  margin-top: 60px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 150px;
}

.goalsdiv {
  margin: 50px;
}

.goals {
  text-align: center;
  font-size: 30px;
  font-family: "Bogart", sans-serif;
  font-weight: bold;
}

.text {
  text-align: justify;
  font-size: 19px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}

.line {
  border-left: 6px solid rgba(255, 255, 255, 0.15);
  height: 275px;
  border-radius: 6px;
  margin: auto;
}

.flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 300px;
  width: 300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  border-radius: 10%;
  box-shadow: 2px 2px 25px rgba(255, 255, 255, 0.1);
}

.team {
  text-align: center;
  font-size: 30px;
  font-family: "Bogart", sans-serif;
  color: white;
  font-weight: bold;
  margin-top: 75px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
}

.name {
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 20px;
}

.role {
  font-size: 20px;
  text-align: center;
  color: white;
}
