.heading {
  color: #fff;
  text-align: justify;
  font-family: "Montserrat";
  font-size: 280px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 50px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.p {
  color: #fff;
  text-align: justify;
  font-family: "Montserrat";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 80px;
  margin-top: 0 !important;
}

.oof {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0 !important;
}
