.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  margin-right: 20px;
  margin-top: 5px;
}

.heading {
  float: left;
  margin-left: 20px;
  padding: 10px;
  -webkit-text-stroke: 1px crimson;
  color: red;
  font-weight: bold;
  font-size: 40px;
}

.navbar ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  padding-bottom: 10px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
}

.navbar ul {
  display: flex;
  align-self: center;
  width: 100%;
}

.navbar ul li:hover,
.navbar ul li:active,
.special:hover,
.special:active {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.special {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  padding-bottom: 10px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
}

@media (max-width: 700px) {
  .navbar,
  .special {
    display: none;
  }
}
