.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  padding: 25px 70px;
  margin-top: 5px;
}

.flex > div {
  flex: 1;
}

.logo {
  height: auto;
  width: 175px;
}
.navbar {
  flex: 1;
}

.navbar ul {
  display: flex;
  align-self: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 200;
  font-family: "Outfit";

  margin: 0px 20px;
  padding: 10px 15px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
}

.navbar ul li:hover,
.navbar ul li:active,
.special:hover,
.special:active {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.special {
  width: 100px;

  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 200%;
  text-decoration: none;

  /* margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  padding-bottom: 10px; */

  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
}

@media (max-width: 700px) {
  .navbar,
  .special {
    display: none;
  }

  .flex {
    padding: 20px 30px;
  }

  .flex > div {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: none;
  }
}
@media (max-width: 400px) {
  .flex {
    padding: 20px 20px;
  }

  .flex > div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex: none;
  }
}
