.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  padding: 25px 70px;
  margin-top: 5px;
}

.flex > div {
  flex: 1;
}

.logo {
  width: 91px;
  height: 70.778px;
  flex-shrink: 0;
}
.navbar {
  flex: 1;
  background-color: transparent;
}

.navbar ul {
  display: flex;
  align-self: center;
  padding: 0;
  margin: 0;
  background-color: none;
}

.navbar ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 20px;
  padding: 10px 15px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.navbar ul li:hover,
.navbar ul li:active,
.special:hover,
.special:active {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.special {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 20px;
  padding: 10px 15px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;

  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .navbar,
  .special {
    display: none;
  }

  .flex {
    padding: 20px 30px;
  }

  .flex > div {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: none;
  }
}
@media (max-width: 400px) {
  .flex {
    padding: 20px 20px;
  }

  .flex > div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex: none;
  }
}

.link {
  text-decoration: none;
}
